<!DOCTYPE html>
<html lang='en'>

<head>
     <title>Mock Assessment</title>
     <link rel="stylesheet" href="static/css/style.css"/>
     <meta chatset="utf-8">
</head>

<body background="https://source.unsplash.com/collection/940208/1600x900">
    <h1>Event Planner</h1>

    <div>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
    </div>
    <br>
    <p>Click Register below to create an account.</p>
    <a href="register"><input type="submit" value="Register"></a>
    <br>
    <p>Click Login below to access your account.</p>
    <a href="login"><input type="submit" value="Login"></a>

</body>
</html>